body{
    font-family: "Roboto", sans-serif; 
    background-color: hsl(212, 45%, 89%);
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.c-card {  
    text-align: center;
    width: 200px;
    height: 350px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
}
.c-card img {
    width:11.6rem; 
    height: 12rem; 
    border-radius: 16px; 
    padding: 0.5rem;
}
.c-card p {
    padding: 0.6rem; 
    font-size: 12px; 
    color:hsl(220, 15%, 55%); 
    font-weight: 400; 
    margin-top: 0px;
} 
.c-card h1 {
    padding: 0.4rem; 
    font-size: 15px; 
    font-weight: 700; 
    margin-top: 2px;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media(max-width: 375px) {
    .container {
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    .c-card {  
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: 90%;
        height: 100%;
        background-color: #fff;
        border-radius: 16px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        margin-bottom: 30px;
    }

    .c-card img {
        width:90%; 
        height: 60%; 
        border-radius: 25px; 
        padding: 0.9rem;
    }
    .c-card p {
        padding: 0.6rem; 
        font-size: 15px; 
        color:hsl(220, 15%, 55%); 
        font-weight: 400; 
        margin-top: -15px;
        margin-left: 1.2rem;
        margin-right: 1.2rem;
        margin-bottom: 40px;
    } 
    .c-card h1 {
        padding: 0.8rem; 
        font-size: 1.3rem; 
        font-weight: 700; 
        margin-top: 2px;
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }
}
